<p>Here are a few activities</p>

<p>Total count: <%= activities.length %></p>

<ul>
<% for (var i = 0; i < activities.length; i++) { %>
  <li>
    <%= activities[i].name %> (worth <%= activities[i].points %> points)
  </li>
<% } %>
</ul>