<h2>Activities List</p>

<table class="table">
<% for (var i = 0; i < activities.length; i++) { %>
  <tr>
    <td><%= activities[i].type %></td>
    <td><%= activities[i].name %></td>
    <td><%= activities[i].points %></td>
    <td><% link_to("Show", 'activities/'+activities[i].id) %></td>
  </tr>
<% } %>
</table>

<% link_to("Add Another", 'activities/add') %>
