<h2>Activity Detail</p>

<table class="table">
  <tr>
    <td>Type:</td>
    <td><%= activities[i].type %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= activities[i].name %></td>
  </tr>
  <tr>
    <td>Points:</td>
    <td><%= activities[i].points %></td>
  </tr>
</table>

<%= link_to("Back", 'activities') %>

