<h2>Activity Detail</p>

<table class="table">
  <tr>
    <td>Type:</td>
    <td><%= activity.type %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= activity.name %></td>
  </tr>
  <tr>
    <td>Points:</td>
    <td><%= activity.points %></td>
  </tr>
</table>

<%= link_to("Back", 'activity') %>

